flask==2.3.3
--extra-index-url https://download.pytorch.org/whl/rocm5.4.2
torch==2.0.1+rocm5.4.2
torchvision==0.15.2+rocm5.4.2
numpy==1.24.3
trimesh==3.23.5
transformers==4.31.0
pillow==10.0.0
gunicorn==21.2.0
Werkzeug==2.3.7
einops>=0.6.1
filelock>=3.12.2
tqdm>=4.65.0
huggingface-hub>=0.16.4
accelerate>=0.21.0 